<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <script src="/send_url.js"></script>
</head>

<body>
    <%- include('header.ejs', {user: user}) %>

    <div id="top">
        <div class="title">
            <h1>
                CookHack
            </h1>
        </div>
    </div>
    <div class="recommend">
        <h2>
            あなたにおすすめ！
        </h2>
    </div>

    </div>
    <div id="container_menu">
          <% recipes.forEach(recipe => { %>
        <div class="box">

              <%= recipes.food_name %>
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            b
              <%= recipes.food_name %>
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            c
              <%= recipes.food_name %>
            <a href="https://www.google.co.jp"></a>
        </div>
        <div class="box">
            Look More Information
            <a href="https://www.google.co.jp"></a>
        </div>
          <% }) %>
    </div>
    <%- include('footer.ejs') %>

</body>

</html>